@charset "utf-8";
body{ margin: 0; padding: 0; font-family: "微软雅黑"; font-size: 12px; }
			div,ul,li,p,a,input,button{ margin: 0;padding: 0; border:none; list-style:none;outline: none;}
			a:link,a:visited{ color: #7a7974; text-decoration: none;}
			a:hover{ font-weight: 800;}
			#header{ 
				 background-color: #EE6F5E;
				 height: 50px;
				 width: 100%;
				 position: fixed;
				 top: 0;	
				 z-index: 10000;			  
				 }
			.hleft{
				height:45px;
				padding-top: 5px; 
				float: left;
				}
			.hcenter{ 
				height:50px;
				line-height: 50px;
				float: left;
				color: #fff;
				font-size: 16px;
				font-weight: 600;
				}
			#search{ 
				width: 100%; 
				height:29px; 
				margin: 60px auto 0; 
				text-align: center; 
				}
			#search input{ 
				width: 80%;
				height: 27px;  
				border:1px solid #949492;
				border-radius:25px;
				padding-left:12px ;
				position: relative;
				}
			#search img{
				width: 25px;
				height: 25px;
			}
			#search span{
				position: absolute;
				right: 11%;
				padding: 3px 7px 0 0;
			}	
			#content{
				width: 90%;
				margin: 10px auto;
				border: 1px solid #d8d8d8;
			}
			#content .ctop{
				width: 80%;
				height: 100px;
				margin: 0 auto;
				box-sizing: border-box;
			}
			#content .ctop .cleft{
				width: 50%;
				float: left;
				height: 100px;
			}
			#content .ctop .cleft img{
				width: 100px;
				height: 100px;
			}
			#content .ctop .cright{
				float: left;
				width: 50%;
				padding-top:20px;
				line-height: 25px;
				text-align:center;
			}
			#content .cright .otext{
				color: #6c6c6c;
				font-size: 14px;
			}
			#content  .cright .ttext{
				color: #8a8a8a;
			}
			#content .cright .thtext{
				display: inline;
				color: #ad022c;
				border: 1px solid #ad022c;
				border-radius: 10px;
				padding: 0 3px;
			}
			#support{
				width: 80%;
				margin: 0 auto;
			}
			#support .stop{
				height: 20px;
				line-height: 20px;
			}
			#support .stop .schedule{
				text-align: left;
			}
			#support .scenter{
				width:100%;
				height:10px;
				border-radius:10px;
				background: #ccc;
				}
			#support .now{
				width:50%;
				height:100%;
				border-radius:10px;
				background-color:#02cbd3;
				transition:all 2s;
				}
			#support .nowg{
				width:98%;
				height:100%;
				border-radius:10px;
				background-color:#EE6F5E;
				transition:all 2s;
				}
			#support .sbottom{
				height: 30px;
				line-height: 20px;
			}
			#support .sleft{
				float: left;
				height: 30px;
			}
			#support .sright{
				float: right;
				height: 30px;
			}
			#support .sbottom span{
				color: #EE6F5E;
			}
			#liubai{
				width: 100%;
				height: 75px;
				line-height: 40px;
				background-color: #fafafa;
				text-align: center;
				color: #808080;
			}	
			#footer{ 
				width: 100%; 
				height: 45px; 
				background-color: #EE6F5E;
				 position: fixed; 
				 bottom: 0;
				 z-index: 11;
				 }
			#footer p{ 
				width: 25%; 
				height: 45px; 
				line-height: 45px; 
				text-align: center; 
				float: left;
				}
			#footer a:link,#footer a:visited{
				font-size: 14px;
				color: #fff4f7;
				font-weight: 700;
				 }
			#footer a:hover{
				 font-weight: 900;
				 }