@charset "utf-8";
body{ margin: 0; padding: 0; font-family: "微软雅黑"; font-size: 12px; background-color: #ebebf2;}
			div,ul,li,p,a,input,button{ margin: 0;padding: 0; border:none; list-style:none;outline: none;}
			a:link,a:visited{ color: #7a7974; text-decoration: none;}
			a:hover{ font-weight: 800;}
			#header{ 
				 background-color: #EE6F5E;
				 height: 50px;
				 width: 100%;
				 position: fixed;
				 top: 0;	
				 z-index: 10000;			  
				 }
			.hleft{
				height:45px;
				padding-top: 5px; 
				float: left;
				}
			.hcenter{ 
				height:50px;
				line-height: 50px;
				color: #fff;
				font-size: 16px;
				font-weight: 600;
				float: left;
				}
			#box{
				width: 90%;
				background-color: #fffcdf;
				margin: 60px auto 10px;
				position: relative;
			}
			#box .tupian{
				height: 20px;
			}
			#box .tupian .jued img{
				width: 20px;
				height: 20px;
			}
			#box .tupian .jued{
				position: absolute;
				top:-2px;
				left: -2px;
			}
			#box .tupian .buding img{
				width: 35px;
				height: 35px;
			}
			#box .tupian .buding{
				margin: 0 50%;
			}
			#box .title{
				padding: 0 0 5px 15px;
				font-size: 14px;
				color: #b58b5c;
			}
			
			#box #turnon{
				color: #b58b5c;
			}
			li{
				width: 90%;
				margin: 0 auto;
			}
			#box #turnon span{
				width: 30%;
				margin: 0 auto;
				padding-left: 20px;
				display: block;
				background:url(img/down1.png) no-repeat;
			}
			#box #turnon a:link,#box #turnon a:visited{
				color: #fe7468;
			}
			#box #turnon a:hover{
				font-weight: 500;
			}
			#content{
				width: 90%;
				margin: 0 auto;				
			}
			#content .content1{
				background-color: #fff;	
				bottom: 0;
				margin: 15px 0;
				}
			#content .theme{
				width: 95%;
				padding-left: 5%;
				height: 45px;
				background-color: #fafafa;
			}
			#content .theme img{
				width: 25px;
				height: 25px;	
			}
			#content .theme .tupiao{
				float: left;
				padding:10px 5px 0 0 ;
			}
			#content .theme .ming{
				height: 45px;
				line-height: 45px;
				color: #EE6F5E;
				font-size: 14px;
			}
			
			#content .selects{
				width: 10%;
				float: left;
				text-align: center;
				height: 87px;
				line-height: 87px;
			}
			#content .selects .circle1{
				position: relative;
				width: 15px;
				height: 15px;
				border: 1px solid #49484B;
				border-radius: 50%;
				box-sizing: border-box;
				display: inline-block;
			}
			#content .selects .circle1 img{
				position: absolute;
				left: -4px;
				top:-4px;
				width: 20px;
				}
			#content .selects input{
				display: none;
				
			}
			#content .appeal{
				width: 100%;
				height: 87px;
				padding-top:3px ;
			}
			#content .tu{
				float: left;
				padding:0 5px 0 0;
			}
			#content .tu img{
				width: 85px;
				height: 85px;
			}
			#content .jieshao{
				float: left;
				height: 87px;
			}
			#content .jieshao .title{
				color: #4e4747;
			}
			#content .jieshao .price{
				color: #fe5b5f;
			    padding-top: 45px;
			    height: 25px;
			}
			.price .money-price{
				font-size: 16px;
				color: #fe5b5f;
			}
			#content .amounts{
				height: 40px;
				line-height: 40px;
				margin-top: 45px;
			}
			#content .amounts button{
				width: 20px;
				height: 20px;
				font-size: 20px;
				background-color: #a9b7b7;
				color: #fff;
				cursor: pointer;
			}
			#content .leibie{
				color: #4c5154;
				padding-left: 5px;
				float: left;
			}
			#content  .add{
				padding: 10px 10px 0 0;
				height: 30px;
				float: right;
			}
			#content .add img{
				width: 20px;
				height: 20px;
			}
			#content  .num{
				float: right;
				width: 30px;
				height: 40px;
				line-height: 55px;
				text-align: center;
				font-size: 14px;
			}
			#content .sub{
				float: right;
				padding-top: 10px;
				height: 30px;
			}
			#content .sub img{
				width: 20px;
				height: 20px;
			}
			#liubai{
				width: 100%;
				height: 100px;
				color: #808080;
			}
			#whole{
				width: 100%;
				height: 45px;
				background-color: #f5f5f5;
				position: fixed;
				bottom: 45px;
			}
			#whole .ffleft{
				width: 18%;
				height: 45px;
				line-height: 45px;
				float: left;
				text-align: center;
			}
			#whole .ffleft .circle{
				position: relative;
				width: 15px;
				height: 15px;
				display: inline-block;
				border: 1px solid #49484B;
				border-radius: 50%;
				box-sizing: border-box;
				vertical-align: middle;
			}
			#whole .ffleft .circle img{
				position: absolute;
    			left: -4px;
    			top: -4px;
    			width: 20px;
			}
			#whole .ffleft input{
				display: none;
			}
			#whole .ffleft .select-info{
				display: inline-block;
				height: 45px;
				line-height: 45px;
				box-sizing: border-box;
				vertical-align: middle;
			}
			#whole .fleft{
				width: 62%;
				height: 45px;
				float: left;
			}
			#whole .fleft .price{
				height: 45px;
				line-height: 45px;
				float: right;
				color: #fe5b5f;
				padding-right: 10px;
			}
			#whole .fleft .total{
				height: 45px;
				line-height: 45px;
				padding-right: 10px;
				float: right;
			}
			#whole .fright{
				width: 20%;
				background-color: #ff5001;
				height: 45px;
				line-height: 45px;
				text-align: center;
				color: #fff;
				float: right;
				cursor:pointer;
			}
			#whole .fright a:link,#whole .fright a:visited{
				color: #fff;
			}
			#footer{ 
				width: 100%; 
				height: 45px; 
				background-color: #EE6F5E;
				 position: fixed; 
				 bottom: 0;
				 z-index: 11;
				 }
			#footer p{ 
				width: 25%; 
				height: 45px; 
				line-height: 45px; 
				text-align: center; 
				float: left;
				}
			#footer a:link,#footer a:visited{
				font-size: 14px;
				color: #fff4f7;
				font-weight: 700;
				 }
			#footer a:hover{
				 font-weight: 900;
				 }